@mixin menu-base {
	padding: 0;
	margin: 0;
	list-style: none;
}

.menu-main__nav{
	@include menu-base;
	padding-top: 200px;
	li{
		padding-bottom: 20px;
	}
}

.social-menu{
	@include menu-base;
	display: flex;
	justify-content:space-between;
}

