@mixin header-style($family, $color, $size){
	font-family: $family;
	color:$color;
	font-size:$size;
	margin: 0;
}

@mixin accent-style($family, $color, $style, $weight, $size){
	font-family: $family;
	color:$color;
	font-style:$style;
	font-weight:$weight;
	font-size:$size;
}

// GENERAL STYLES

html{
	font-size:$baseFSize;
}

body{
	font-family: $sansFont;
	font-size:1.6rem;
}

h1,h2,h3,h4,h5,h6,p,blockquote{
	margin: 0;
	padding: 0;
}

// heading styles

h1{
	@include header-style($sansFont, $dark, 12rem); 
	}

h4{
	@include header-style($serifFont, $dark, 2rem);
	font-style:oblique;
	font-weight: 400;
	padding-bottom: 10px;
}


.masthead{
	@include accent-style($sansFont, $dark, normal, 700, 6rem);
}

p{
	@include accent-style($sansFont, $dark, normal, 400, 1.6rem);
	padding-bottom: 10px;
}

.emphasized{
	@include accent-style($serifFont, $dark, oblique, 400, 1.6rem);
}

// link styles

a{
	color:$dark;
	text-decoration: none;
	&:hover{
		color:$darkblue;
	}
	&:active{
		color:$warm;
	}
}

.menu-main__nav li a{
	position: relative;
	color:$dark;
	text-decoration: none;
	text-transform: uppercase;
	&:hover{
		color:$dark;
		&::before{
			position: absolute;
			content:'';
			background: $paleblue;
			width: 100px;
			height: 8px;
			top:6px;
			z-index:-10;
			opacity:.75;
		}
	}
}

.social-menu a{
	color:$dark;
	&:hover{
		color:$darkblue;
		&::before{
			background: transparent;
		}
}}

.large-link{
	font-size: 3rem;
	font-weight: 500;
	text-transform: uppercase;
}

.caps{
	font-size: 1.2rem;
	text-transform: uppercase;
	display: inline-block;
}

