@mixin header-style($family, $color, $size){
	font-family: $family;
	color:$color;
	font-size:$size;
	margin: 0;
}

@mixin accent-style($family, $color, $style, $weight, $size){
	font-family: $family;
	color:$color;
	font-style:$style;
	font-weight:$weight;
	font-size:$size;
}

// GENERAL STYLES

html{
	font-size:$baseFSize;
}

body{
	font-family: $serifFont;
	font-size:1.6rem;
}

// heading styles

h1{
	@include header-style($sansFont, $altC, 12rem); 
}

.masthead{
	@include accent-style($sansFont, $altC, normal, 700, 6rem)
}

// link styles

a{
	color:$altC;
	text-decoration: none;
	&:hover{
		color:$accentC;
		text-decoration: underline;
	}
}