$themeColor: #666699;
$accentColor:#666;
$altColor: #333;
$contrastColor: #c6dfdf;
$undertoneColor:#fdfdfd;

$sansFont: 'Montserrat', Helvetica, Arial, sans-serif;
$serifFont: 'Libre Baskerville', Times, serif;

